basemap
cartopy
ctd
descartes
fiona
gdal
geojson
geojsonio
geopandas
gsw
ipython-notebook
iris
matplotlib
numpy
oceans
pandas
pyproj
pyproj
rasterio
requests
scikit-learn
scipy
seaborn
shapely
statsmodels
sympy
