# export PATH=/$HOME/miniconda/bin:$PATH
# conda config --add channels ioos -f
# conda update --yes --all
# conda create --yes -n CURSO --file requirements.txt python=2.7
# export PATH=/$HOME/miniconda/bin:$PATH && source activate CURSO
# conda install -c r r-essentials
# pip install -U fortran-magic

basemap
cartopy
ctd
descartes
fiona
folium
gdal
geojson
geojsonio
geopandas
gsw
ipython-notebook
jupyter
iris
matplotlib
numpy
oceans
oct2py
pandas
pip
pyproj
pywafo
rasterio
requests
scikit-learn
scipy
seaborn
shapely
statsmodels
sympy
xlrd
